@import '../../skycapp.scss';

$overlay-service-size: 300px;
$background-tile: url(/assets/images/textures/crossword.png) repeat;

.wide-service,
.overlay-service {
    border-radius: 4px;
    border: none;
    // box-shadow: 0 20px 20px #000;


    .details {
        display: inline-block;
    }
}


.wide-service {
    width: 394px;
    display: inline-block;
    position: relative;
    background: $background-tile;
    box-shadow: 0 20px 20px #000;

    .crop {
        // clear: none;
        display: inline-block;
        overflow: hidden;
        position: relative;
        height: 150px;
        width: 150px;
        margin: 4px 0 4px 4px;

        img {
            position: absolute;
            width: 100%;
        }

    }


    .level {
        width: 115px;
        height: 115px;
    }

    .details {
        margin: 4px 0 4px 10px;
        width: 228px;
    }
}

.overlay-service {
    // height: $overlay-service-size;
    position: relative;

    .crop {
        // clear: none;
        // display: inline-block;
        overflow: hidden;
        position: relative;
        height: $overlay-service-size;
        width: $overlay-service-size;
        margin: 0;

        img {
            position: absolute;
            width: 100%;
        }
    }

    .level {
        width: 270px;
        height: 270px;
    }

    .details {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        text-align: center;
        width: 100%;

        h4 {
            width: 100%;
            margin: 0 auto;
            padding: 4px;
            color: #ccc;

            font-size: 2.0em;
            background-color: rgba(0, 0, 0, .5);
        }

        .badges {
            margin: 0 auto;
            background-color: rgba(0, 0, 0, .5);
        }

        p {
            color: #ccc;
            // background-color: rgba(0, 0, 0, .5);
        }
    }


    form {
        position: absolute;
        top: 150px;
        z-index: 200;
        background: $background-tile;
        border-radius: 4px;
    }
}

h4,
h5 {
    width: 224px;
}

.has_screenshot {
    box-shadow: 0px 10px 20px #000;
}




.healthLevel {
    margin: 15px;

    .bad,
    .unknown,
    .good {
        // border: solid 2px rgba(0, 0, 0, .3);
        border: none;
        box-shadow: 0 -5px 20px #111 inset, 0 10px 10px #000000d1;
    }

    .level {
        // width: 115px;
        // height: 115px;
        border-radius: 50%;
        position: absolute;
        animation: 2s infinite;
        animation-name: pulse;
    }

    .bad {
        background: rgb(238, 3, 3);
        background-image: radial-gradient(black, transparent);
        background-size: 5px 5px;
    }

    .unknown {
        background: rgb(255, 217, 0);
        background-image: radial-gradient(red, transparent);
        background-size: 5px 5px;
    }

    .good {
        background: darkgreen;
        background-image: radial-gradient(lime, transparent);
        background-size: 5px 5px;
    }
}


.checked_at {
    font-size: smaller;
}