<div class="app-container" [attr.data-bs-theme]="settingsService.theme_effective()">
  <router-outlet></router-outlet>
  <footer class="fixed-bottom text-center">
    <!-- <p class="m-1">
        This service monitoring tool provides visual representation on the status of sets of heterogeneous web services.
    </p> -->

    <span class="skycapp-brand">Powered by </span>
    <a role="link" href="https://github.com/p3000/stakeout-server"> Stakeout Server </a> and
    <a role="link" href="https://github.com/p3000/stakeout-ui">Stakeout UI</a>
    <span class="skycapp-brand"> application delivery and operations platform. Copyright © 2011-2026
      Preston Lee. All rights reserved.</span>

  </footer>
</div>