h1 {
    color: #aaa;
}

h5 {
    width: 210px;
}

.card {
    width: 400px;
    // height: 200px;
    display: inline-block;
    border-radius: 2px;
    border: none;
    box-shadow: 0 20px 20px #000;

    .crop {
        // clear: none;
        display: inline-block;
        overflow: hidden;
        position: relative;
        height: 150px;
        width: 150px;
        margin: 4px 0 4px 4px;
        box-shadow: 0px 10px 20px #000;

        img {
            position: absolute;
            width: 100%;
            // height: 100%;
            // left: 50%;
            // top: 50%;
            // -webkit-transform: translate(-50%, -50%);
            // -ms-transform: translate(-50%, -50%);
            // transform: translate(-50%, -50%);
        }

        .healthLevel {
            margin: 15px;

            // height: 80%;
            // width: 80%;
            // border-radius: 50%;
            // box-shadow: 0 4px 10px #000;
            .bad,
            .unknown,
            .good {
                // border: solid 2px rgba(0, 0, 0, .3);
                border: none;
                box-shadow: 0 -5px 20px #111 inset, 0 10px 10px #000;
            }

            .bad {
                background: darkred;
                background-image: radial-gradient(black, transparent);
                background-size: 5px 5px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                animation: 4s red infinite;
            }

            .unknown {
                background: orange;
                background-image: radial-gradient(red, transparent);
                background-size: 5px 5px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                animation: 4s yellow infinite;
            }

            .good {
                background: darkgreen;
                background-image: radial-gradient(lime, transparent);
                background-size: 5px 5px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                animation: 4s green infinite;
            }
        }
    }

    .overview {
        display: inline-block;
    }

    .checked_at {
        font-size: smaller;
    }
}

@keyframes bad {
    0% {
        opacity: 1
    }

    20% {
        opacity: 1
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: .1
    }

    80% {
        opacity: .1
    }

    100% {
        opacity: .1
    }
}

@keyframes unknown {
    0% {
        opacity: .1
    }

    20% {
        opacity: .1
    }

    40% {
        opacity: 1
    }

    50% {
        opacity: .1
    }

    60% {
        opacity: .1
    }

    80% {
        opacity: .1
    }

    86% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes good {
    0% {
        opacity: .1
    }

    40% {
        opacity: .1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    83% {
        opacity: .1
    }

    100% {
        opacity: .1
    }
}