@import '../../skycapp.scss';

h1 {
    color: #aaa;
    display: inline;
}


#loading {
    font-size: 4em;

    animation: 2s infinite;
    animation-name: pulse;
}

select {
    // display: inline-flex;
}
.service-card {
    // width: 394px;
    display: inline-block;
    // background: url(/assets/images/textures/crossword.png) repeat;

    // border-radius: 2px;
    // border: none;
    // box-shadow: 0 20px 20px #000;
    // position: relative;
    
    .delete-button {
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: 100;
    }
}