.card {
    width: 400px;
    // height: 200px;
    display: inline-block;
    border-radius: 2px;
    border: none;
    box-shadow: 0 20px 20px #000;
    .crop {
        // clear: none;
        display: inline-block;
        overflow: hidden;
        position: relative;
        height: 150px;
        width: 150px;
        img {
            position: absolute;
            width: auto;
            height: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .overview {
        display: inline-block;
    }
    .checked_at {
        font-size: smaller;
    }
}