<div class="container-fluid" *ngIf="dashboard">
    <h1 class="text-default">{{dashboard.name}}
        <button class="btn btn-sm btn-primary" (click)="create()"><span class="bi-plus"></span> Add Service</button>
    </h1>

    <div class="m-2 card service align-top" *ngFor="let s of dashboard.services">
        <div class="crop">
            <img *ngIf="s.http_screenshot" [src]="'data:image/jpeg;base64, ' + s.http_screenshot" />
            <div *ngIf="!s.http_screenshot" class="healthLevel">
                <div [class]="statusLevel(s)"></div>
            </div>
        </div>
        <div class="overview align-top m-3">
            <!-- <div > -->

            <h5 class="align-center mb-0 pb-0">
                <span>{{s.name}}</span>
                <button class="btn btn-default my-0 ms-1 pt-1" role="button" *ngIf="!editing[s.id]" (click)="editing[s.id] = true"><span
                        class="bi-pencil"></span></button>

                <button class="btn btn-default my-0 ms-1 pt-1" role="button" *ngIf="editing[s.id]" (click)="editing[s.id] = false"><span class="bi bi-x"></span> Close</button>
            </h5>

            <span class="badge rounded-pill" *ngIf="s.ping" [class.text-bg-success]="pingGood(s)" [class.text-bg-danger]="!pingGood(s)">Ping ({{s.ping_last}}ms)</span>
            <!-- <span class="badge rounded-pill text-bg-danger" *ngIf="s.ping && !s.ping_last">Ping</span> -->
            <span class="badge rounded-pill text-bg-success" *ngIf="s.http && s.http_path_last">HTTP</span>
            <span class="badge rounded-pill text-bg-danger" *ngIf="s.http && !s.http_path_last">HTTP</span>
            <span class="badge rounded-pill text-bg-success" *ngIf="s.https && s.https_path_last">HTTPS</span>
            <span class="badge rounded-pill text-bg-danger" *ngIf="s.https && !s.https_path_last">HTTPS</span>
            <p class="checked_at ms-1" *ngIf="s.checked_at"> checked {{s.checked_at | amTimeAgo}}</p>
            <p class="checked_at ms-1" *ngIf="!s.checked_at"> never checked</p>
            <!-- </div> -->
            <!-- <div *ngIf="editing[s.id]">

            </div> -->
        </div>

        <div class="m-2" *ngIf="editing[s.id]">
            <form (submit)="update(s)" role="form" class="form row">
                <div class="col-sm-6">
                    <label class="form-label" for="service_name">Name</label>
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="text" name="service_name" [(ngModel)]="s.name" autofocus placeholder="My Service" required />
                    </div>
                    <label class="form-label mt-2" for="service_host">Host</label>
                    <div class="input-group mb-2">
                        <input class="form-control form-control-sm" type="text" name="service_host" [(ngModel)]="s.host" placeholder="example.com" required />
                    </div>
                    <div *ngIf="s.ping">
                        <label class="form-label mt-2" for="service_ping_threshold">Ping Threshold (ms)</label>
                        <div class="input-group mb-2">
                            <input class="form-control form-control-sm" type="number" name="service_ping_threshold" [(ngModel)]="s.ping_threshold" required />
                        </div>
                    </div>
                    <div *ngIf="s.http || s.https">
                        <label class="form-label mt-2" for="service_http_path">HTTP(S) Path (optional)</label>
                        <div class="input-group mb-2">
                            <input class="form-control form-control-sm" type="number" name="service_http_path" [(ngModel)]="s.http_path" required />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Protocols</label>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="service_http" id="service_http" [(ngModel)]="s.http">
                        <label class="form-check-label" for="service_http">
                            HTTP
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="service_https" id="service_https" [(ngModel)]="s.https">
                        <label class="form-check-label" for="service_https">
                            HTTPS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="service_ping" id="service_ping" [(ngModel)]="s.ping">
                        <label class="form-check-label" for="service_ping">
                            ICMP Ping
                        </label>
                    </div>
                    <hr/>

                    <div class="form-check" *ngIf="s.http || s.https">
                        <input class="form-check-input" type="checkbox" name="service_http_preview" id="service_http_preview" [(ngModel)]="s.http_preview">
                        <label class="form-check-label" for="service_http_preview">
                            Capture HTTP(S) Preview?
                        </label>
                    </div>
                </div>

            </form>
            <div class="btn-group float-start my-2">
                <button class="btn btn-sm btn-primary" role="button" *ngIf="editing[s.id]" (click)="update(s)"><span class="bi-save"></span> Save</button>
            </div>
            <button role="button" class="btn btn-danger float-end my-2" (click)="delete(s)"><span
                        class="bi-trash"></span></button>
        </div>

    </div>
</div>