@font-face {
    font-family: skycapp;
    src: url(/assets/fonts/Metropolis\ Regular.otf) format("opentype");
}

@font-face {
    font-family: skycapp-symbol;
    src: url(/assets/fonts/Metropolis\ Ornaments.otf) format("opentype");
}

.skycapp-brand {
    font-family: 'skycapp';
}

.skycapp-symbol {
    font-family: 'skycapp-symbol';
}


@keyframes pulse {
    0% {
        opacity: .8
    }

    40% {
        opacity: .95
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: .95
    }

    100% {
        opacity: .8
    }
}