@import './skycapp.scss';
body {
    background: url(/assets/images/textures/binding_dark.png) repeat;
    // font-family: 'skycapp';
}

.title, label, span,
h1,h2,h3,h4,h5,h5 {
    font-family: 'skycapp';
    // color: #aaa;
}