$sidebar_highlight: #6d7fcc;
$sidebar_light: #2793d9;
$drop_shadow: 0 20px 20px #000;
#dashboards {
    .active {
        background-color: rgba(0, 0, 0, .2);
    }
    .title, {
        padding: 8px;
        background-color: rgba(0, 0, 0, .2);
        font-size: 1.2rem;
        text-shadow: 0 2px 2px #000;
    }
    // background: url(/assets/images/backgrounds/dashboards.jpg) no-repeat center center fixed;
    // background-size: cover;
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        perspective: 1500px;
    }
    #sidebar.active {
        margin-left: 0px;
        transform: rotateY(0deg);
    }
    #sidebar.inactive {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        padding: 10px;
        box-shadow: $drop_shadow;
        background: url(/assets/images/textures/prism.png) repeat;
        color: #fff;
        transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
        transform-origin: bottom left;
        .sidebar-header {
            padding: 20px;
            background: $sidebar_light;
        }
        h4 {
            padding: 10px;
            font-size: 10pt;
            font-weight: bolder;
            text-transform: uppercase;
            // background-color: rbga(71, 116, 139, .4);
        }
        form {
            display: inline-block;
        }
    }
    ul ul li {
        font-size: 0.8em !important;
        padding-left: 10px;
        margin-top: 2px;
    }
    ul ul li a:hover {
        color: $sidebar_highlight;
        background: #fff;
    }
    #content {
        width: 100%;
        // padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
    #sidebarCollapse {
        margin-top: 0px;
        margin-left: 0px;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
        span {
            width: 80%;
            height: 2px;
            margin: 0 auto;
            display: block;
            background: #333;
            transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
            transition-delay: 0.2s;
        }
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    #sidebarCollapse.inactive span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
            transform: rotateY(90deg);
        }
        #sidebar.active {
            margin-left: 0;
            transform: none;
        }
        #sidebarCollapse span:first-of-type,
        #sidebarCollapse span:nth-of-type(2),
        #sidebarCollapse span:last-of-type {
            transform: none;
            opacity: 1;
            margin: 5px auto;
        }
        #sidebarCollapse.active span {
            margin: 0 auto;
        }
        #sidebarCollapse.active span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }
        #sidebarCollapse.active span:nth-of-type(2) {
            opacity: 0;
        }
        #sidebarCollapse.active span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
    }
}