<div id="settings" class="container">
  <div class="row">
    <div class="col-sm-12 mb-4">
      <h1>
        <button class="btn btn-md btn-outline-secondary" (click)="back()">
          <span class="bi bi-arrow-left"></span> Back
        </button>
        &nbsp;
        <span class="bi bi-gear"></span> Settings
      </h1>
    </div>
    <div class="col-sm-6">
      <h4><span class="bi bi-server"></span> Server Credentials</h4>
      <p class="text-muted">Will be kept in browser storage.</p>
      <div class="form-floating mt-4">
        <input
          class="form-control form-control-sm"
          name="cds_service_username"
          type="text"
          required
          [(ngModel)]="username"
        />
        <label for="cds_service_username">Username</label>
      </div>
      <div class="form-floating mt-4">
        <input
          class="form-control form-control-sm"
          name="cds_service_password"
          type="text"
          required
          [(ngModel)]="password"
        />
        <label for="cds_service_password">Password</label>
      </div>
    </div>
    <div class="col-sm-6">
      <h4><span class="bi bi-palette"></span> Appearance</h4>
      <div class="form-floating mt-4">
        <select
          class="form-select form-select-sm"
          name="theme"
          [ngModel]="settingsService.settings().theme_preferred"
          (ngModelChange)="themePreferenceChanged($event)"
        >
          <option [value]="themeTypes().AUTOMATIC">Automatic (system)</option>
          <option [value]="themeTypes().LIGHT">Light</option>
          <option [value]="themeTypes().DARK">Dark</option>
        </select>
        <label for="theme">Theme</label>
      </div>
      <h4 class="mt-4"><span class="bi bi-code-slash"></span> Advanced</h4>
      <div class="form-check mt-3 ms-1">
        <input
          id="experimental_switch"
          class="form-check-input"
          type="checkbox"
          name="experimental_switch"
          [(ngModel)]="experimental"
        />
        <label class="form-check-label" for="experimental_switch">
          <span class="bi bi-exclamation-diamond"></span> Experimental Features
        </label>
        <br />
        <small class="form-text"
          >This is used for testing upcoming features and may break existing
          functionality. You probably don't want to use this!</small
        >
      </div>
      <div class="form-check mt-3 ms-1">
        <input
          id="developer_switch"
          class="form-check-input"
          type="checkbox"
          name="developer_switch"
          [(ngModel)]="developer"
        />
        <label class="form-check-label" for="developer_switch">
          <span class="bi bi-code"></span> Developer Mode
        </label>
        <br />
        <small class="form-text"
          >Enabling debugging messages for software developers working on
          source code.</small
        >
      </div>
    </div>
    <div class="col-sm-12">
      <br />
      <button class="btn btn-primary" (click)="save()">
        <span class="bi bi-file-check"></span> Save to Browser
      </button>
      &nbsp;
      @if (!editable()) {
        <button class="btn btn-primary" (click)="unlock()">
          <span class="bi bi-unlock"></span> Authenticate & Unlock Editing
        </button>
      }
      @if (editable()) {
        <button class="btn btn-primary" (click)="lock()" role="button">
          <span class="bi-lock"></span> Lock Editing
        </button>
      }
      <button class="btn float-end" (click)="restore()">
        <span class="bi bi-arrow-counterclockwise"></span> Reset to Defaults
      </button>
    </div>
  </div>
</div>
