// Author: Preston Lee

// @import "../../stylesheets/common.scss";


#settings {
    padding-top: 20px;

    h1 {
        text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    }

    .workstream_name {
        cursor: pointer;
        text-decoration: underline;
    }


    .form-check {
        label {
            cursor: pointer;
        }
    }

}